html {
  font-size: 16px;
  font-family: "Merriweather", serif;
  color: #494748;
}

body {
  margin: 0;
  padding: 0;
  background: #d3cbb8;
}

@media screen and (min-width: 25em) {
  html {
    font-size: calc(16px + (8) * (100vw - 400px) / (800 - 400));
  }
}

.title-container {
  background: url("geometric\ pattern.jpg");
  background-repeat: repeat;
  position: relative;
  background-size: 1500px;
}

.title {
  padding-top: 10%;
  padding-bottom: 10%;
  margin: auto;
  width: 80%;
  text-align: justify;
  position: relative;
  z-index: 20;
}

#heads,
#cubes {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
}

#heads {
  z-index: 20;
}

a {
  color: #494748;
}

a:visited {
  color: #6b6769;
}

.break {
  height: 2.5rem;
}

.outlined {
  background: white;
  display: block;
  margin: 20px;
  text-align: center;
  outline: 1rem;
  padding: 20px;
}

.welcome {
  font-size: 1.5rem;
}

.name {
  font-size: 3rem;
  line-height: 97%;
  padding-top: 24px;
}

h1,
h2,
p {
  margin: 0;
}

h2.project-text {
  display: block;
}

h2 {
  margin-bottom: 12px;
}

.project-text {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 60px;

  padding-bottom: 45px;
}

iframe {
  height: calc(100vw / 1.77777778);
  display: block;
}

img,
iframe {
  width: 100%;
  padding-left: 70px;
  padding-right: 70px;
  box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
  img,
  .project-text,
  iframe {
    padding: 10px;
  }

  .title {
    width: 90%;
  }
}

@media screen and (min-width: 1920px) {
  .project-text,
  img {
    width: 1920px;
  }

  iframe {
    width: 1920px;
    height: 1080px;
  }
}
